* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Roboto Condensed';
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.49);
}

h2 {
    font-family: 'Roboto Condensed';
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: #C4C4C4;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.49);
}

address {
    font-style: normal;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    margin: 10px 0px 50px;
    background-color: transparent;
    border-style: hidden;
    border-bottom: 1px solid #A0A0A0;
    outline: none;
}

.bunner {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bunner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
}

.bunner-container {
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 50px;
}

.bunner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

.bunner-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bunner-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.icone {
    width: 30px;
}

.icone-linkedin {
    margin-right: 15px;
}

.nav-formacao {
    margin-right: 20px;
    color: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.09);
}

.btn {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    background-color: #00A3FF;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-contato {
    box-shadow: 0px 3px 17px 2px rgba(0, 0, 0, 0.39);
}

.bunner-name {
    width: 100%;
    line-height: 3px;
}

.conhecimento {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px 40px;
}

.conhecimento-titulo {
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.49);
}

.conhecimento img {
    width: 75px;
}

.box-images {
    display: flex;
    justify-content: space-between;
}

.box-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-conhecimento {
    color:#FFFFFF;
    font-weight: 500;
    text-shadow: 0px 1px 6px #00000060;
}

.formacao {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.formacao-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formacao-titulo {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 25px;
    color: #355C7D;
}

.formacao-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formacao-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.formacao-item-data p {
    text-align: right;
    color: #8B8B8B;
}

.img-linha-tempo {
    max-height: 85%;
    margin: 0px 20px
}

.formacao-item-curso p {
    margin: 0px;
    line-height: 25px;
}

.formacao-instituicao {
    color: #8B8B8B;
    font-size: 0.94em;
}

.fale-comigo {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    background-color: rgba(53, 92, 125, 0.1);
}

.falecomigo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.falecomigo-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form-content:nth-child(2) {
    width: 100%;
}

.form-content input {
    
    padding-bottom: 10px;
    width: 90%;
}

.form-content textarea {
    padding-bottom: 10px;
    width: 90%;
}

.titulo-falecomigo {
    font-size: 2.5em;
    font-weight: 500;
    margin: 50px 0px 50px;
    color: #355C7D;
}

.box-contatos {
    background-image: linear-gradient(to right, #355C7D, #207dce);
    padding: 50px 30px;
    width: 400px;
    
}

.titulo-contatos {
    font-size: 2em;
    font-weight: 500;
    margin: 0px 0px 20px;
    color: #FFFFFF;
}

.contatos-item {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #FFFFFF;
    text-decoration: none;
}

.contatos-item img {
    margin: 13px;
}

.btn-enviar {
    box-shadow: 0px 3px 10px 1px rgb(0, 0, 0, 0.3);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    display: flex;
    align-items: center;
    color: #8B8B8B;
    text-decoration: none;
}

.footer-item img {
    margin: 13px;
}